<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.EvaluationInfoMapper">

    <select id="showAllEvaluationFrontList" resultType="EvaluationInfoVo" parameterType="EvaluationInfoQo">
        select a.*,b.*
        from evaluation_info a left join student_info b on a.student_id=b.student_id
        where course_id=#{courseId}
        limit #{nowPage},#{divideNum}
    </select>


    <select id="showAllEvaluationFrontListCount" resultType="int" parameterType="EvaluationInfoQo">
         select count(*)
        from evaluation_info a left join student_info b on a.student_id=b.student_id
        where course_id=#{courseId}
    </select>






    <select id="showAllEvaluation" resultType="EvaluationInfoVo" parameterType="EvaluationInfoQo">
       select a.*,b.*,c.*
       from evaluation_info a left join course_info b on a.course_id=b.course_id
       left join student_info c on a.student_id=c.student_id
       <where>
           <include refid="condition"></include>
       </where>
       limit #{nowPage},#{divideNum}
    </select>

    <select id="showAllEvaluationCount" resultType="int" parameterType="EvaluationInfoQo">
        select count(*)
        from evaluation_info a left join course_info b on a.course_id=b.course_id
        left join student_info c on a.student_id=c.student_id
        <where>
            <include refid="condition"></include>
        </where>
    </select>

    <insert id="addEvaluation" parameterType="EvaluationInfoQo">
        insert into evaluation_info values(
        null,#{studentId},#{evaluationScore},now(),#{courseId},#{evaluationContent}
        )
    </insert>

    <delete id="deleteEvaluation">
        delete from evaluation_info where evaluation_id=#{evaluationId}
    </delete>


    <select id="selectStudentHasEvaluation" parameterType="EvaluationInfoQo" resultType="EvaluationInfo">
        select * from evaluation_info where student_id=#{studentId} and course_id=#{courseId}
    </select>






    <sql id="condition">
        <if test="courseName!=null">
            and b.course_name like concat('%',#{courseName},'%')
        </if>
        <if test="evaluationScore!=null">
            and a.evaluation_score=#{evaluationScore}
        </if>
        <if test="studentName!=null">
            and c.student_name like concat('%',#{studentName},'%')
        </if>

    </sql>

</mapper>